# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
weather_df = pd.read_csv('weather_data.csv', index_col=0)
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,karratha,-20.7377,116.8463,20.04,71,6,2.54,AU,1627427466
1,coahuayana,18.7333,-103.6833,30.71,72,64,2.72,MX,1627427467
2,grindavik,63.8424,-22.4338,11.61,93,0,5.66,IS,1627427467
3,inhambane,-23.8650,35.3833,18.08,64,0,3.35,MZ,1627427467
4,severo-kurilsk,50.6789,156.1250,14.04,95,100,2.67,RU,1627427264

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [37]:
# Customize the size of the figure

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
lower_than_eighty_df = weather_df[weather_df["Max Temp"] < 80]
higher_than_seventy_df = lower_than_eighty_df[lower_than_eighty_df["Max Temp"] > 20]
wind_speed_less_df = higher_than_seventy_df[higher_than_seventy_df["Wind Speed"] < 10]
no_clouds = wind_speed_less_df[wind_speed_less_df["Cloudiness"] == 0]
no_clouds.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
17,la roda,39.2167,-2.1500,24.39,65,0,5.08,ES,1627427471
24,vila velha,-20.3297,-40.2925,21.97,88,0,2.06,BR,1627427473
30,east london,-33.0153,27.9116,22.81,25,0,5.28,ZA,1627427200
99,abu samrah,35.3029,37.1841,26.70,42,0,4.15,SY,1627427491
117,marsaxlokk,35.8419,14.5431,26.71,47,0,1.54,MT,1627427496

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [42]:
lat = no_clouds["Lat"].tolist()
lng = no_clouds["Lng"].tolist()
hotel = []
for i in range(0, len(lat)):
    lat_test = str(lat[i])
    lng_test = str(lng[i])
    target_search = "Places to Stay"
    target_radius = 5000
    #target_coordinates = lat_test  lng_test
    params = {
    "location": f'{lat[i]}, {lng[i]}',
    "radius": target_radius,
    "type": "hotel",
    "key": g_key
    }
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    places_data = response.json()
    j = 0
    try:
        while "lodging" not in places_data["results"][j]["types"]:
            j += 1
        hotel.append(places_data["results"][j]["name"])
    except IndexError:
        hotel.append("No Nearby Hotels")
    
hotel_df = no_clouds
hotel_df["Hotel Name"] = hotel
hotel_df.head()

<ipython-input-42-5126253384af>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = hotel

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel,Hotel Name
17,la roda,39.2167,-2.1500,24.39,65,0,5.08,ES,1627427471,Hotel-Restaurante El Sueño de Jemik,Hotel-Restaurante El Sueño de Jemik
24,vila velha,-20.3297,-40.2925,21.97,88,0,2.06,BR,1627427473,Quality Suites Vila Velha,Quality Suites Vila Velha
30,east london,-33.0153,27.9116,22.81,25,0,5.28,ZA,1627427200,Tu Casa,Tu Casa
99,abu samrah,35.3029,37.1841,26.70,42,0,4.15,SY,1627427491,No Nearby Hotels,No Nearby Hotels
117,marsaxlokk,35.8419,14.5431,26.71,47,0,1.54,MT,1627427496,Water's Edge,Water's Edge

In [43]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [39]:
# Add marker layer ontop of heat map
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
locations = weather_df[["Lat", "Lng"]]
fig = gmaps.figure(layout=figure_layout)
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
heat_layer = gmaps.heatmap_layer(locations, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
fig
# Display figure

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…